@import '../../scss/variables';
.p{
	margin: 0;
	text-align: start;
	padding-bottom: 4px;
}

.s{
	font-size: 14px;
	color: $grey-text;
}

.m{
	font-size: 24px;
	font-weight: 600;
}

.l{
	font-size: 48px;
	font-weight: 600;
}

